<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/inventory.js"></script>
<link href="/main.css" rel="stylesheet">


<div style="margin-left:50px;margin-right:50px">
    <div class="header panel-heading" style="background-image:linear-gradient(347deg, #48c6ef, #2399d2);height: 80px;text-align: center;">
        <img src="/logo-tma.png" alt="logo-tma" style="width:100px; padding: 10px 0; height: auto; float: left">
        <h2 style="margin-left: 150px;color: white;font-weight: bold;">TMA WEB LOG</h2>
    </div>
    <hr>

    <div class="container">
        <form action="/inventory/module/createModule" method="post">
            <h3>CREATE NEW MODULE</h3>
            <br>
            <div class="form-group">
                <label for="asset_tag">Asset Tag:</label>
                <input type="text" class="form-control" name="asset_tag">
            </div>
            <div class="form-group">
                <label for="serial_number">Serial Number:</label>
                <input type="text" class="form-control" name="serial_number">
            </div>
            <div class="form-group">
                <label for="model">Model: </label>
                <input type="text" class="form-control" name="model">
            </div>
            <div class="form-group">
                <label for="location">Location: </label>
                <input type="text" class="form-control" name="location">
            </div>
            <div class="form-group">
                <label for="remote_station">Remote Station: </label>
                <input type="text" class="form-control" name="remote_station">
            </div>
            <div class="form-group">
                <label for="status">Status: </label>
                <input type="text" class="form-control" name="status">
            </div>
            <div class="form-group">
                <label for="verification">Verification: </label>
                <input type="text" class="form-control" name="verification">
            </div>
            <div class="form-group">
                <label for="validation">Validation: </label>
                <input type="text" class="form-control" name="validation">
            </div>
            <div class="form-group">
                <label for="owner">Owner: </label>
                <input type="text" class="form-control" name="owner">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" name="date">
            </div>
            <div class="form-group">
                <label for="note">Note: </label>
                <input type="text" class="form-control" name="note">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"> Create </button>
                <button type="button" class="btn btn-danger" onclick="cancelItem('/inventory/module/cancel')"> Cancel </button>
            </div>
        </form>
    </div>
</div>